@font-face {
  font-family: "MonL";
  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "MonR";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RalB";
  font-display: swap;
  src: url("../fonts/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "RalM";
  font-display: swap;
  src: url("../fonts/Raleway-Medium.woff") format("woff"), url("../fonts/Raleway-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "RalR";
  font-display: swap;
  src: url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RobR";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*::-webkit-scrollbar {
  width: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-family: "Roboto-Regular", "Arial", "sans-serif";
  font-weight: 400;
  min-width: 320px;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

body {
  color: #000;
  font-size: 14px;
  line-height: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "MonL";
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  padding-top: 40px;
  position: relative;
  z-index: 5;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 180px;
  text-decoration: none;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.logo-icon {
  fill: white;
}

.logo:hover .logo-txt {
  color: #c7b299;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.logo:hover .logo-icon {
  fill: #c7b299;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.logo:active .logo-txt {
  -webkit-transform: scale(1.08);
      -ms-transform: scale(1.08);
          transform: scale(1.08);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.logo:active .logo-icon {
  -webkit-transform: scale(1.08);
      -ms-transform: scale(1.08);
          transform: scale(1.08);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.logo-svg {
  fill: currentColor;
}

.logo-txt {
  color: #ffffff;
  font-family: RalM;
  font-size: 34px;
  font-weight: 400;
  letter-spacing: -1.36px;
}

.menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 33px;
}

.menu__link {
  color: #ffffff;
  font-family: MonL;
  font-size: 14px;
  margin-right: 30px;
}

.menu__link:hover {
  color: #c7b299;
}

.menu__link:active {
  text-decoration: underline;
}

.basket {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../img/bascet-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  width: 19px;
  height: 26px;
  margin-right: 28px;
}

.basket:hover {
  -webkit-transform: scale(1.08);
      -ms-transform: scale(1.08);
          transform: scale(1.08);
}

.search-icon-form {
  width: 24px;
  height: 24px;
  position: relative;
}

.search-icon-form__label {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../img/search.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}

.search-icon-form__label:hover {
  -webkit-transform: scale(1.08);
      -ms-transform: scale(1.08);
          transform: scale(1.08);
}

.search-icon-form__input {
  width: 0;
  min-height: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 40px;
  left: -119px;
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
}

.search-icon-form__input:focus {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  width: 150px;
  padding: 5px;
  min-height: 20px;
  border: 2px solid white;
  color: white;
  font-family: "Monl";
  font-size: 14px;
}

.slider {
  background: url(../img/top-bg.jpg) center/cover no-repeat;
  position: relative;
}

.slider:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.7);
}

.slider__container {
  padding-top: 280px;
  padding-bottom: 327px;
}

.slider__body {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.slider__subtitle {
  color: #ffffff;
  font-family: "RalM";
  line-height: 32px;
  font-size: 36px;
  margin-bottom: 14px;
  display: block;
}

.slider__title {
  color: #ffffff;
  font-family: "RalB";
  font-size: 52px;
  line-height: 52px;
  margin-bottom: 19px;
  display: block;
}

.slider__text {
  color: #ffffff;
  font-family: MonL;
  font-size: 16px;
  line-height: 24px;
  margin: 0px 0px 52px 0px;
}

.slider__button {
  border-radius: 3px;
  background-color: #998675;
  color: #ffffff;
  font-family: "RalB";
  font-size: 14px;
  line-height: 23px;
  text-transform: uppercase;
  padding: 21px 38px;
  display: inline-block;
}

.slider__button:hover {
  background-color: #736357;
  color: #484642;
}

.slider__button:active {
  -webkit-transform: scale(0.98);
      -ms-transform: scale(0.98);
          transform: scale(0.98);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #ffffff;
}

.slider-arrow {
  display: block;
  width: 40px;
  height: 73px;
  position: absolute;
  top: 50%;
  left: -335px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slider-arrow:after {
  content: "";
  display: inline-block;
  width: 52px;
  height: 52px;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  -webkit-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
          transform: rotate(225deg);
  position: absolute;
}

.slider-arrow:hover:after {
  border-top: 2px solid #000;
  border-right: 2px solid #000;
}

.slider-arrow-2 {
  display: block;
  width: 40px;
  height: 73px;
  position: absolute;
  top: 50%;
  left: 840px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slider-arrow-2:after {
  content: "";
  display: inline-block;
  width: 52px;
  height: 52px;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
}

.slider-arrow-2:hover:after {
  border-top: 2px solid #000;
  border-right: 2px solid #000;
}

.pagination {
  width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 40px;
  position: relative;
  z-index: 10;
}

.pagination-item {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid transparent;
  background-color: #8c8d8f;
}

.pagination-item:hover {
  background-color: transparent;
  border: 2px solid #d3c1ad;
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}

.features {
  padding: 80px 0px;
}

.features__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__cards {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 10px 10px 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.features__cards:after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.features .features-icon {
  margin: 0px 0px 20px 0px;
  fill: #555;
}

.features .features-title {
  color: #555555;
  font-family: "RalB";
  font-size: 22px;
  margin: 0px 0px 19px 0px;
}

.features .features-txt {
  margin: 0px 0px 33px 0px;
  color: #8c8c8c;
  font-family: "MonL";
  font-size: 14px;
  line-height: 24px;
}

.features__cards:hover .features-icon {
  fill: #c7b299;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.features__cards:hover .features-title {
  color: #c7b299;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.features__cards:hover:after {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #c7b299;
}

.webp .basket { background-image: url(../img/bascet-1.webp); }

.webp .search-icon-form__label { background-image: url(../img/search.webp); }

.webp .slider { background: url(../img/top-bg.webp) center/cover no-repeat; }